.App {
  text-align: center;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 15px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h4.teams-tab {
  display: inline-block;
  padding-right: 5px;
}
.match-container, .team-container, .stat-contanier, .stats-header, .team-info-header, .result-container {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ddd;
  align-items: flex-start;
  height: auto;
  padding-top: 15px;
}

.match-container div {
  width: 25%;
}

.opponents {
  display: flex;
  flex-direction: row;
}

.team-container img {
  height: 100px;
  width: 100px;
}

.team-container h3, h4 {
  padding-left: 15px;
  
}
.team-container { 
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
  text-decoration: none;
  padding-left: 15px; 
  color:white; 
}

.team-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.stats-team-logo {
  width: 40px;
  height: 40px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.stats-column1 {
  display : flex;
  flex-direction: row;
  width: 60%;
}
.stats-header h4, .stat-contanier>h4{
  width: 5%;
}
.players-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.player-container {
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 3px #f5f5f5;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px #f5f5f5;
  /* display: inline-block; */
  margin: 8px 4px 0;
  /* position: relative; */
  overflow: hidden;
  vertical-align: top;
  width: 140px;
  background-color: #333;
  color: white;
}
.manager-info {
  display: flex;
  justify-content: flex-end;
  padding: 0 5px 5px 0;
}
.team-container:hover {
  background-color: lightgrey;
  cursor: pointer;
  text-decoration: none;
}
.modal-body .player-container {
  flex-grow: 0;
}
li.active h4{
  color: white;
}
li h4 {
  color: white;
}
body {
  background-color: #333;
  color: white;
}

li a:hover h4 {
  color: black;
} 
.team-container:hover {
  border-radius: 5px;
  color: #333;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: white;
  cursor: default;
  background-color: #333;
  border-bottom-color: transparent;
}

li.active>a:hover h4 {
  color: white;
}
.fa-arrow-left {
  font-size: 24px;
  color: white;
  margin-top: 7px;
}
.results-container>div {
  width: 33.333%;
}
.results-opponents {
  display: flex;
  flex-direction: column;
  width: 75%;
  border-right: 1px solid white;
}
.results-container {
  display: flex;
}
.results-opponents .opponents {
  display: flex;
  flex-direction: row;
}
.opponents-scores {
  display: flex;
  justify-content: space-between;
}
.scores {
  display: flex;
}
.scores h4 {
  padding-right: 10px;
}
.scores i {
  padding-top: 10px;
  font-size: 150%;
}
.result-container .date-container {
  width: 25%;
}
/*-------------------------Media Quesries--------------------------*/
@media only screen and (max-width: 990px) {
  .results-container>div {
    width: 50%;
    flex-grow: 1;
  }
  .results-container {
    flex-direction: row;
    flex-wrap: wrap;
    
  }
}
@media only screen and (max-width: 637px) {
  .match-container {
      flex-direction: column;
      justify-content: center;
  }
  .match-container div {
      width: 100%;
      justify-content: center;
  }
  .stats-column1 img {
    display: none;
  }
  .stats-column1 {
    width: 28%;
  }
  .stats-header h4, .stat-contanier>h4{
    width: 9%;
  }
  .results-container>div {
    width: 100%;
  }
  .results-container {
    flex-direction: column
  }
}